@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --b-w-foreground: 0 0% 0%;
    --background: 248 46% 95%;
    --foreground: 0 100% 56.67%;
    --muted: 248 46% 85%;
    --muted-foreground: 248 12% 35%;
    --popover: 248 46% 90%;
    --popover-foreground: 0 100% 56.67%;
    --card: 248 46% 88%;
    --card-foreground: 0 100% 56.67%;
    --border: 248 36% 75%;
    --input: 248 36% 80%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 75% 70%;
    --secondary-foreground: 0 0% 100%;
    --accent: 248 46% 30%;
    --accent-foreground: 248 46% 80%;
    --destructive: 10 88% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 100% 50%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --b-w-foreground: 0 0% 100%;
    --background: 248 46% 9%;
    --foreground: 0 100% 56.58%;
    --muted: 248 46% 15%;
    --muted-foreground: 248 12% 65%;
    --popover: 248 46% 6%;
    --popover-foreground: 0 100% 56.67%;
    --card: 248 46% 7%;
    --card-foreground: 0 100% 56.67%;
    --border: 248 36% 14%;
    --input: 248 36% 17%;
    --primary: 0 100% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 75% 60%;
    --secondary-foreground: 0 0% 100%;
    --accent: 248 46% 24%;
    --accent-foreground: 248 46% 84%;
    --destructive: 10 88% 48%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 100% 50%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

html {
  font-family: var(--font-raleway);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
  font-weight: 600;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.logo{
  stroke-dasharray: 280 280;
  stroke-dashoffset: 280;
  animation-duration: 2s;
  animation-name: draw;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;

}

@keyframes draw {
  from {
    stroke-dashoffset: 280;
  }

  to {
    stroke-dashoffset: 0;
  }
}
